{% extends 'home.html' %}
{% block content %}
  <div class="chat-container"></div>

  <script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js"/></script>
  <script type="text/javascript">
    var chatroom = new window.Chatroom({
      host: "http://localhost:5050",
      title: "HRMS Assistant Chatbot",
      container: document.querySelector(".chat-container"),
      welcomeMessage: "Hi, I am HRMS ChatBot. How may I help you?",
      speechRecognition: "en-US",
      voiceLang: "en-US"
    });
    chatroom.openChat();
  </script>
{% endblock content %}
