{% extends 'home.html' %}
{% block content %}
{% if data %}
    <table class="table">
  <thead class="table-light">
    <th>Date</th>
    <th>Clock_in</th>
    <th>Clock_out</th>
    <th>Total Work Duration</th>
    <th>Status</th>
  </thead>
        {% for i in data %}
  <tbody>
    <td>{{i.date}}</td>
    <td>{{i.clock_in}}</td>
    <td>{{i.clock_out}}</td>
    <td>{{i.total_work_duration}}</td>
    <td>{{i.status}}</td>
  </tbody>
        {% endfor %}
</table>
{% endif %}
{% endblock content %}