{% extends 'home.html' %}
{% block content %}
<br><br>
<div class="container">
    <a class='' href="{% url 'home' %}">back</a>
    <br><br>
        <form action="/employees" method="POST" >
            {% csrf_token %}
        <div class="input-group mb-3">
            {{form.search_by_employee_name}}
            <div class="input-group-append">
                <input type="submit" value="Search" class="btn d-flex" style="background-color: #115eb4; color:white;">
            </div>
        </div>
    </form>
{% if data %}
    <table class="table">
  <thead class="table-light">
    <th>Name</th>
    <th>Id</th>
    <th>Designation</th>
    <th>Department</th>
    <th>Email Id</th>
    <th>Location</th>
  </thead>
  <tbody>
    <td>{{data.name}}</td>
    <td>{{data.id}}</td>
    <td>{{data.designation}}</td>
    <td>{{data.department}}</td>
    <td>{{data.email_id}}</td>
    <td>{{data.location}}</td>
  </tbody>
</table>
</div>
{% endif %}
{% endblock content %}