{% extends 'home.html' %}
{% block content %}
<br><br>
<div class="container">
    <a class='' href="{% url 'home' %}">back</a>
    <br><br>
        <form action="/employees" method="POST" >
            {% csrf_token %}
        <div class="input-group mb-3">
            {{form.search_by_employee_name}}
            <div class="input-group-append">
                <input type="submit" value="Search" class="btn d-flex" style="background-color: #115eb4; color:white;">
            </div>
        </div>
    </form>
{% if data %}
    <table class="table">
  <thead class="table-light">
    <th>Name</th>
    <th>Id</th>
    <th>Designation</th>
    <th>Department</th>
    <th>Email Id</th>
    <th>Location</th>
  </thead>
  <tbody>
{% for i in data %}
    <td>{{i.name}}</td>
    <td>{{i.id}}</td>
    <td>{{i.designation}}</td>
    <td>{{i.department}}</td>
    <td>{{i.email_id}}</td>
    <td>{{i.location}}</td>
{% endfor %}
  </tbody>
</table>
</div>
{% else %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <h1 class='alert alert-danger'>{{ message }}</h1>
    {% endfor %}
</ul>
{% endif %}
{% endif %}
{% endblock content %}